@import url(common.css);

*{box-sizing: border-box;}

header{
  width: 100%;
  height: 60px;
  /* background-color: #34343d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 200;
  margin-top: -100px;
}


/* 뒤배경 어둡게 */
.back{
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 150;/* 헤더보다는 높아야하고 메뉴보다 낮아야함 */
}
header h1{padding-right:20px;}
header h1 img{
  width: 130px;
  height: 25px;
  margin-top: 10px;
  filter: invert(100%);
}

/* Trigger ///////////////*/
.trigger {
  padding-left: 10px;
  cursor: pointer;
  filter: invert(100%);
}
.trigger .icon1,.icon2{
  color: #fff;
  font-size: 36px;
}

/* Menu//////////////////// */
.gnb_list{   
  position:fixed; 
  top:0;
  left: -60%;   
  z-index: 200;
  width:60%;
  height: 100vh;
  background:rgba(0,0,0,0.9)
}
.gnb_list li:first-child{margin-top: 80px;} /* 첫번째만 내리면 다 내려감 */
.gnb_list li{padding: 10px 0;}
.gnb_list li a{
  display:block; 
  font-size:16px;  /* 생략 가능함 */
  font-size:1rem; 
  color:#fff; 
  text-transform:uppercase;
  text-align:center;
  transition: 0.5s;
}
.gnb_list li a:hover{color:rgb(165, 165, 165)}

.gnb_list li.close{ /* 닫기버튼 */
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.text{
  margin-top: 100px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.text h4{
  margin-top: 15px;
  font-weight: normal;
}

/* 갤러리*/
.slider img{
  width: 100%;
  height: 250px;
}
.slider {
  text-align: center;
  font-size: 0;
  max-width: 1180px;
  margin: 50px auto 0;
  padding: 0 15px;
}
.slider .inner {
  overflow: hidden;
  width: 100%;
  padding: 70px 0;
  margin: 0 auto;
}
.slide_list > li {
  position: relative;
  width: 20%; 
  height: 250px;
  text-align: center;
  margin: 0;
  font-size: 20px;
  line-height: 150px;
  color: #000;
  transform: scale(1); 
  transition: all 0.3s;z-index: 0;
}

.slide_list > li.swiper-slide-next,
.slide_list > li.swiper-slide-prev,
.slide_list > li.swiper-slide-duplicate-next,
.slide_list > li.swiper-slide-duplicate-prev {transform: scale(1.5);z-index: 50;}
.slide_list > li.swiper-slide-active,
.slide_list > li.swiper-slide-duplicate-active {transform: scale(2);z-index: 100;}

.slide_list > li:after {
  position: absolute;
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background:rgba(0,0,0,0.5);
  transition: all 0.3s;
  opacity: 0;
  opacity: 1;
}
.slide_list > li.swiper-slide-next:after,
.slide_list > li.swiper-slide-prev:after,
.slide_list > li.swiper-slide-duplicate-next:after,
.slide_list > li.swiper-slide-duplicate-prev:after {background:rgba(0,0,0,0.3);} 
.slide_list > li.swiper-slide-active:after,
.slide_list > li.swiper-slide-duplicate-active:after{opacity: 0;}

@media (max-width: 768px) {
    .slider .inner {padding: 38px 0;}
    .slide_list > li { width: 33.333%;}
    .slide_list > li.swiper-slide-next,
    .slide_list > li.swiper-slide-prev,
    .slide_list > li.swiper-slide-duplicate-next,
    .slide_list > li.swiper-slide-duplicate-prev {transform: scale(1);}
    .slide_list > li.swiper-slide-active,
    .slide_list > li.swiper-slide-duplicate-active {transform: scale(1.5);}
}

.slide-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top:80px;
  margin-bottom: 20px;
}


/*  tset */
#gallery2{
  margin-top: 80px;
  width: 100%;
  /* background-color: yellow; */
}
h3.stitle{
  text-align: center;
  color:#000;
  font-size: 20px;
  font-size: 1.250rem;
  font-weight: 400;
  text-transform: capitalize;
  padding: 20px 0;
}

.myslider{padding-bottom: 30px;}
.myslider div{margin: 0 2px;}
.myslider div:last-child{margin: 0px;}
.myslider img{
  width: 100%; 
  max-width: 100%; 
  /*사이즈맞게 변경됌 가변이미지:백그라운드 적용x :cover활용 */
}
.myslider h5{
  padding: 5px;
  font-weight: normal;
  text-align: center;
}
.myslider .slick-arrow{
  /* border: 1px solid green; */
  bottom:0;
  width: 40px;
  height: 40px;
}

.myslider .slick-prev{

  left: 10px;
  top: -10%;
}
.myslider .slick-next{
  right: 10px;
  top: -10%;
}

.slick-next:before, .slick-prev::before{
  color: #000;
  font-weight: bold;
  filter: invert(100%);
}
/* _____________________________MAP */
.map{
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 80px;
}
/*______________________________TELL */
.footer_sitemap{
	width:100%;
	height:0px;
	margin:100px auto 0;
	transition: 0.5s;
}
.sitemap_in{
	position:relative;
	width:100%;
	height: 220px;
	margin:auto;
	text-align: center;
}
.sitemap_btn{
	width: 100%;
	height: 30px;
	border-radius: 5px 5px 0 0;
	color: #333;
	position:absolute;
	bottom: 100%;
	left: 50%;
  font-size: 18px;
  font-weight: bold;
	transform: translateX(-50%);
  margin-bottom: 50px;

}
.sitemap_btn .fa{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
	/* margin-left: 10px; */
}

/*_______________________________________sitemap */
.sitemap{display:none;} 
.sitemap_list{
	display: flex;
  margin-right: 20px;

}
.sitemap_list>li{
	flex: 1;
	height:220px;
	padding:20px 0 0 20px;
	line-height:20px;
}

.sitemap_list>li>a{  
	display:block;
	margin-bottom:10px;
	font-size:20px;
	color:#777;
}

.site_sub>li{line-height:20px;}
.site_sub>li>a{
	color:#777;
	font-size: 14px;
}
.bottom img{width: 100%;}

/*__________________________Footer*/
.btn-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 26px;
  color: #fff;
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.btn-top.active{
  transform: translateY(0);
  opacity: 1;
}
.btn-top:hover{
  color: #000;
  background-color: #fff;
}
section p{
  font-size: 3em;
  color: #ddd;
  line-height: 2em;
}
